body {
  margin: 0;
  padding: 0;
  background-color: #e6eaef;
  font-family: 'Montserrat', 'Helvetica Neue', 'Arial',
    sans-serif;
}

#root {
  margin: 0 0 11vh 0;
  position: relative;
  min-height: 97vh;
}